.border-yellow {
    border: 5px solid yellow;
}

.border-blue {
    border: 5px solid blue;
}

.border-red {
    border: 5px solid red;
}

.header-padding {
    padding: 25px;
    margin-top: 100px;
}

.eric {
    color: purple;
}

.side-by-side {
    display: flex;
    justify-content: center;
}