html,
body,
#react-root {
  height: 100%;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: local('OpenSans-Italic'),
    url('../../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans') url('../../fonts/OpenSans.ttf') format('truetype');
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'OpenSans', sans-serif;
  margin: 0px;
  background-color: #f8f8f8;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* Clean Up styling Here Reminder!! */

.main-container {
  height: 100dvh;
}

:root {
  --primary-blue: #005e83; /* brand base */
  --primary-white: #ffffff;
  --landing-gradient: linear-gradient(180deg, #005e83 0%, #5fa2bb 95.54%);
  --brand-base: #005e83;
  --brand-surface: #f2fafc;
  --brand-border: #005e83;
  --brand-hover: #00384f;
  --brand-focus: #151819;
  --brand-pressed: #001c27;
  --brand-disabled: #005e83;
}

/* import open sans font */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'OpenSans', sans-serif;
  margin: 0px;
  /* font-feature-settings: 'clig' off, 'liga' off; */
}

h1 {
  font-size: 3.75rem;
}

h2 {
  color: var(--neutral-600, #5e5f61);
  font-feature-settings: 'clig' off, 'liga' off;

  /* Subtitle 2 */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.875rem */
  letter-spacing: 0.00938rem;
}

/* Utility Classes */

.text-center {
  text-align: center;
}

.background-primary-blue {
  background-color: var(--primary-blue);
}

.background-primary-grey {
  background-color: var(--primary-grey);
}

.primary-blue {
  color: var(--primary-blue);
}

.primary-white {
  color: var(--primary-white);
}

.empty-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
}

.logout-button {
  border: none;
}

.text-black {
  color: #262626;
}

/* UTILITY CLASSES */

.text-left {
  text-align: left;
}

.full-width {
  width: 100%;
}

.p-l-l {
  padding-left: 1rem;
}

.p-r-l {
  padding-right: 1rem;
}

.m-t-l {
  margin-top: 1rem;
}

.m-t-xl {
  margin-top: 1.25rem;
}

.m-b-l {
  margin-bottom: 1rem;
}

.m-b-xl {
  margin-bottom: 1.25rem;
}

.display-flex {
  display: flex;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.h-half {
  height: 50%;
}
.w-half {
  width: 50%;
}
.gap-16 {
  gap: 1rem;
}
.gap-12 {
  gap: 0.75rem;
}
.gap-8 {
  gap: 0.5rem;
}
.border-none {
  border: none;
}

.rounded-sm {
  border-radius: 0.125rem; /* 2px */
}
.rounded {
  border-radius: 0.25rem; /* 4px */
}
.rounded-md {
  border-radius: 0.375rem; /* 6px */
}
.rounded-lg {
  border-radius: 0.5rem; /* 8px */
}
.rounded-xl {
  border-radius: 0.75rem; /* 12px */
}
.rounded-2xl {
  border-radius: 1rem; /* 16px */
}
.text-primary-blue {
  color: var(--primary-blue);
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.mt-16 {
  margin-top: 1rem;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}

/*
* Animation for loading spinner
*/
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-button-width {
  width: 25rem;
}
.p-2 {
  padding: 0.5rem;
}
.text-error {
  color: #ef4444;
  font-weight: 700;
}
