/* TypeButton.css */

.type-button {
  border-radius: 24px; 
  border: 1px solid #005e83;
  background: #f2fafc;
  padding: 24px;

  /* Reset any positioning or display */
  position: static;
  display: inline-block;

  /* Remove animations/transitions */
  transition: none;

  /* Explicitly allow pointer interactions */  
  cursor: pointer;
  pointer-events: auto;
}

.type-button.active {
  background: #f26e6e; /* Light red background when active */
  color: #fff;
}

.type-button:hover {
  background: #ccc; /* Slight grey background on hover */
}

.type-button div {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  font-weight: 600;
}

/* Icon container styles */
.type-button .icon-container {
  background: #005e83; /* Background color of the icon container */
  border-radius: 50%; /* Make the icon container circular */
  width: 36px; /* Adjust the size as needed */
  height: 36px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; /* Add a transition for the background color */
}

/* Scope parent styles */
.type-button-container .type-button {

}
