.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: var(--primary-blue);
  overflow: hidden;
}

.nav-spacing {
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  display: flex;
}

.nav-title {
  font-size: 1.75rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  align-self: center;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.sign-out {
  background-color: none;
}

.logo-img {
  width: 33px;
  height: 33px;
  padding-left: 1.25rem;
}

.logo-img-black {
  width: 33px;
  height: 33px;
}

.side-nav-title {
  font-size: 1.75rem;
}

.drawer-width {
  width: 75%;
}

.full-nav-logo {
  filter: grayscale(100%) brightness(0) invert(0) sepia(100%) saturate(10000%)
    hue-rotate(0deg);
  padding-right: 1rem;
  padding-left: 1rem;
}
