.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: var(--primary-blue);
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  align-self: center;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: var(--primary-blue);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.sign-out:hover {
  border-bottom: 1px solid white;
}

.logo-img {
  width: 33px;
  height: 33px;
  padding-left: 1.25rem;
}
